.about {
    max-width: 1200px;
    margin: 0 auto;
}

.about h1 {
    text-align: center;
    color: var(--dark);
    font-size: var(--h1-size);
    margin-top: 2rem;
}

.about>p {
    color: rgb(105, 105, 105);
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.about .container {
    padding: 1rem;
}

.about .container svg {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.about .title {
    font-weight: 700;
    color: #154383;
    margin: 1.5rem 0;
}

/* Medium devices */

@media only screen and (max-width: 768px) {
    .about .container svg {
        width: 90%;
    }
}