.about {
    width: 80%;
    margin: 0 auto;
}

.about h1 {
    text-align: center;
    color:var(--dark);
}

.about>p {
    color: rgb(105, 105, 105);
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.about .container svg {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.about .title {
    font-weight: 700;
    color: #154383;
    margin: 1.5rem 0;
}