.members .row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 100%));
    gap: 1rem;
    margin: 3rem 0;
}
.members>p{
    text-align: center;
    width: 80%;
    margin: auto;
    color: #777;
}
.members {
    width: 80%;
    margin: 0 auto;
}

.member {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member>img {
    width: 140px;
    height: 140px;
    padding: 1rem;
    border: 1px dashed var(--dark);
    border-radius: 50%;
}

.member .social img {
    width: 30px;
}

.member p:nth-of-type(1) {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--dark);
}

.member .social {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.member p:nth-of-type(2) {
    color: gray;
}