.members {
    max-width: 1200px;
    margin: 0 auto;
}

.members h1{
    text-align: center;
    font-size: var(--h1-size);
    margin-top: 2rem;
}
.members .container {
    padding: 1rem 0;
}
.members .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: center;
}

.members>p {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #777;
}


@media only screen and (max-width:560px) {
    .members {
        width: 90%;
    }
    .members>p {
        width: 100%;
    }
    
}