.cat-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.categories .row {
    display: grid;
    grid-template-areas: "first second three";
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center;
}

.categories .row>div {
    background-color: #fff;
    margin: 5px 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 300px;
    border: 2px dashed #ddd;
    box-shadow: 0 0 0px 5px #fff,  0 0 5px  5px #ddd;
}

.categories .row img {
    width: 170px;
    height: 170px;
    margin: 0.5rem auto;
    border-radius: 50%;
    transition: transform 0.3s;
    position: relative;
    box-shadow: 0 0 5px #888;
    display: block;
}

.categories .row>div:hover img {
    transform: scale(1.03);
}

.categories .row div p {
    padding: 1rem;
}
 