.cat-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
 
.categories .row {
    display: grid;
    grid-template-areas: "first second three";
    gap: 1rem;
    margin: 2rem 0;
}

.categories .row>div {
    background-color: #fff;
    margin: 5px 1rem;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    clip-path: polygon(0px 0px, 0 calc(100% - 40px), 40px calc(100% - 40px), 0px 100%, 100% 100%, 100% 40px, calc(100% - 40px) 40px, 100% 0);
}

.categories .row>div:hover {
    transform: scale(1.01);
}

.categories .row img {
    width: 170px;
    height: 170px;
    margin: 0.5rem auto;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 5px #888;
} 

.categories .row img::before {
    content: "";
    position: absolute;
    background-color: yellow;
    width: 100px;
    height: 100px;
    z-index: 5;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;  
}
.categories .row div p {
    padding: 1rem;
}   
 