.cat-container {
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.cat-container h2 {
    font-size: var(--h2-size);
}

.categories .row {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 2rem auto;
    justify-content: center;
    /* max-width: 1100px; */
}

.categories .row>div {
    background-color: #fff;
    margin: 5px 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    /* width: 300px; */
    border: 2px dashed #ddd;
    box-shadow: 0 0 0px 5px #fff, 0 0 5px 5px #ddd;
}

.categories .row img {
    width: 170px;
    height: 170px;
    margin: 0.5rem auto;
    border-radius: 50%;
    transition: transform 0.3s;
    position: relative;
    box-shadow: 0 0 5px #888;
    display: block;
}

.categories .row>div:hover img {
    transform: scale(1.03);
}

.categories .row div p {
    padding: 1rem;
}

@media only screen and (max-width: 1100px) {
    .cat-container {
        width: 95%;
    }
    .categories .row>div {
        margin: 5px;
        padding: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .cat-container {
        width: 95%;
    }
    .categories .row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .cat-container {
        width: 90%;
    }
    .categories .row {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}