.container {
    background: black;
    background-image: url('../../imgs/travel-m.jpg');
    background-repeat: no-repeat;
    height: calc(100vh - 62px);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container::before {
    content: "";
    background-color: rgba(10, 40, 60, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 70%;
    display: flex;
    grid-auto-columns: 1fr;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.content h1 {
    font-size: 3rem;
}

.content p {
    line-height: 2rem;
    font-size: 1.3rem;
}

.content button {
    border: 1px dashed #00b9fc;
    color: #fff;
    background-color: transparent;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border-radius: 6px;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 20px;
    outline: none;
}

.content button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 174, 208, 0.4);
    top: -100%;
    left: 0;
    transition: all 0.3s;
    z-index: -1;
}

.content button:hover::before {
    top: 0;
}

.scroll {
    width: 25px;
    height: 45px;
    position: absolute;
    bottom: 30px;
    border: 1px dashed #8de1ff;
    border-radius: 12px;
    background: linear-gradient(#ddd, #1686d0);
    background-size: 5px 15px;
    background-repeat: no-repeat;
    background-position: 10px 15px;
    cursor: pointer;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes move {
    50% {
        bottom: 20px;
    }
}