.contact {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.contact h2 {
    text-align: left;
}

.contact>div:not(.contact>div:nth-of-type(4)) {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 5px #aaa;
}

{}

.social {
    display: flex;
    flex-wrap: wrap;
}

.contact .social a {
    display: flex;
    padding: 0.5rem;
    width: 120px;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--dark);
    cursor: pointer;
    margin: 1rem 1.2rem 0 0;
    border: 2px dashed #ddd;
    box-shadow: 0 0 0px 5px var(--dark);
}

.contact .social a:hover {
    border: 2px dashed #fff;
}

.contact .social a span {
    font-size: 1rem;
    color: #eee;
}

.contact .social a svg {
    display: inline-block;
    margin: 0 0.5rem;
    fill: #eee;
}

.contact .email p:nth-child(2) {
    background-color: #ddd;
    border-left: 7px solid #ccc;
    padding: 7px;
    width: max-content;
}

.contact form {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contact form .row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100%));
    width: 90%;
    gap: 1rem;
    margin: 0 auto;
}

.contact form input, form textarea {
    background-color: #fff;
    border: 1px solid var(--dark);
    padding: 0.5rem;
    width: 50%;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

.contact form input {
    width: 90%;
}

.contact form textarea {
    resize: none;
    width: 90%;
}

.contact form input[type="submit"] {
    background-color: var(--dark);
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    width: 50%;
    transition: 0.3s;
    letter-spacing: 2px;
}

.contact form [type="submit"]:hover {
    background-color: #278ab0;
}

.contact form .row input {
    width: 100%;
}

.contact .popup {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 3;
}

.contact .popup-content {
    padding: 2rem;
    border-radius: 10px;
    background-color: #ddd;
    width: 60%;
    margin: 0 auto;
    margin-top: 6rem;
    border: 3px dashed #000000e6;
    animation: drag 0.5s 1;
}

.contact .popup-content p {
    margin-top: 0;
}

.popup a, .popup p {
    color: var(--dark);
    font-weight: 600;
}

@keyframes drag {
    0% {
        margin-top: 0;
        opacity: 0;
    }
    100% {
        margin-top: 6rem;
    opacity: 1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .contact {
        width: 90%;
    }
    .contact form {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .contact h2 {
        text-align: center;
    }
    .contact form .row {
        grid-template-columns: repeat(1, minmax(0, 100%));
        gap: 0;
    }
    .social {
        justify-content: center;
    }
    .contact form input[type="submit"] {
        width: 80%;
    }
}