.shop {
    max-width: 1100px;
    margin: 0 auto;
}

.shop h1 {
    text-align: center;
    color: var(--dark);
    font-size: var(--h1-size);
    margin-top: 2rem;
}

.shop>p {
    color: rgb(105, 105, 105);
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.shop .container>p, .shop .container>h2 {
    padding: 0 10px;
}

.shop .container>h2 {
    text-align: left;
    color: rgb(13, 21, 49);
    padding-top: 1rem;
}

.shop .container>p {
    font-weight: 700;
}

.shop .wrap {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .shop {
        width: 90%;
        margin: 0 auto;
    }
}