.product {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.shop .wrap .product img {
    width: 100%;
    border-radius: 0.5rem;
    height: 150px;
    transition: 0.5s;
}

.shop .wrap .product img:hover {
    transform: scale(1.05);
}

.shop button {
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}