.product {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 4px 0 8px #ccc;
    position: relative;
    padding: 0.5rem;
    width: 250px;
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.product .container {
    overflow: hidden;
    border-radius: 0.5rem;
}

.product:hover button {
    transition: all 0.5s;
    display: block;
}

.product .container img {
    width: 100%;
    transition: transform 0.5s;
    height: 170px;
}

.product .container .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 100%);
    transform: translateX(-100%);
}

.product img:hover {
    transform: scale(1.04);
}

.product>button {
    position: absolute;
    top: 50px;
    width: 20px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: absolute;
    display: none;
}

.product>button:nth-of-type(1) {
    border-radius: 0 50% 50% 0;
    left: 0;
}

.product>button:nth-of-type(2) {
    border-radius: 50% 0 0 50%;
    right: 0;
}

.product>p:nth-of-type(1) {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    text-transform: capitalize;
    color: var(--dark);
}
 
.product a button {
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .product {
        margin: 0.5rem;
    }
}