 @media screen and (max-width: 760px) {
     .rotate {
         transform: rotate(90deg);
     }
     .rotate polygon:nth-child(1) {
         fill: #fd7979;
         transform: rotate(-45deg);
         transform-origin: 35px 20px;
         stroke-width: 3px;
         stroke: red;
     }
     .rotate polygon:nth-child(2) {
         display: none;
     }
     .rotate polygon:nth-child(3) {
         fill: #fd7979;
         transform: rotate(45deg);
         transform-origin: 45px 20px;
         stroke-width: 3px;
         stroke: red;
     }
 }