.gallery {
    padding: 1.5rem 0;
}

.gallery-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
}

.gallery-img div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-img div button {
    padding: 0.8rem 2.3rem;
    font-size: 1.2rem;
    z-index: 3;
    border-radius: 0.6rem 0;
    background-color: rgba(14, 46, 114, 0.2);
    border: 1px solid #eee;
    color: #eee;
    cursor: pointer;
    transition: background-color .5s;
    font-family: Karla;
}

.gallery-img div a {
    position: absolute;
    display: none;
}

.gallery-img div:hover a {
    display: block;
}

.gallery-img div button:hover {
    background-color: rgba(14, 46, 114, 0.5);
}

/* .gallery-img div:hover::before {
    content: "";
    background-color: rgba(92, 171, 189, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
} */

.gallery-img div img {
    height: 100%;
    transition: 1s;
}

.gallery-img div:hover img {
    height: 110%;
}

#first {
    grid-area: 1/1/3/3;
    /* background-image: url('../../imgs/sand.jpg'); */
}

#second {
    grid-area: 1/3/2/4;
    /* background-image: url('../../imgs/lights.jpg'); */
}

#third {
    grid-area: 1/4/2/5;
    /* background-image: url('../../imgs/terre.jpg'); */
}

#fourth {
    grid-area: 2/3/3/4;
    /* background-image: url('../../imgs/forest.jpg'); */
}

#fifth {
    grid-area: 2/4/3/5;
    /* background-image: url('../../imgs/net.jpg'); */
}