.gallery {
    padding: 1.5rem 0;
}
.gallery h2{
font-size: var(--h2-size);
margin: 2rem 0;
}

.gallery-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
}

.gallery-img div {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-img div button {
    padding: 0.8rem 2.3rem;
    font-size: 1.2rem;
    z-index: 3;
    border-radius: 0.6rem 0;
    background-color: rgba(14, 46, 114, 0.2);
    border: 1px solid #eee;
    color: #eee;
    cursor: pointer;
    transition: background-color .5s;
    font-family: Karla;
}

.gallery-img div a {
    position: absolute;
    display: none;
}

.gallery-img div:hover a {
    display: block;
}

.gallery-img div button:hover {
    background-color: rgba(14, 46, 114, 0.5);
}

.gallery-img div img {
    height: 100%;
    transition: height 0.5s;
}

.gallery-img div:hover img {
    height: 105%;
}

#first {
    grid-area: 1/1/3/3;
}

#second {
    grid-area: 1/3/2/4;
}

#third {
    grid-area: 1/4/2/5;
}

#fourth {
    grid-area: 2/3/3/4;
}

#fifth {
    grid-area: 2/4/3/5;
}

@media only screen and (max-width: 1100px) {
    .gallery-img {
        grid-template-rows: repeat(2, 200px);
    }
    .gallery-img div button {
        padding: 0.5rem 2rem;
        font-size: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .gallery-img {
        grid-template-rows: repeat(3, 200px);
    }
    #first {
        grid-area: 1/1/2/5;
    }
    #second {
        grid-area: 2/1/3/3;
    }
    #third {
        grid-area: 2/3/3/5;
    }
    #fourth {
        grid-area: 3/1/4/3;
    }
    #fifth {
        grid-area: 3/3/4/5;
    }
    .gallery-img div img {
        width: 100%;
        height: auto;
        transition: none;
    }
    .gallery-img div:hover img {
        height: auto;
    }
    .gallery-img div a {
        display: block;
    }
}

@media only screen and (max-width: 530px) {
    .gallery-img {
        grid-template-rows: repeat(5, 200px);
    }
    #first {
        grid-area: 1/1/2/5;
    }
    #second {
        grid-area: 2/1/3/5;
    }
    #third {
        grid-area: 3/1/4/5;
    }
    #fourth {
        grid-area: 4/1/5/5;
    }
    #fifth {
        grid-area: 5/1/6/5;
    }
}