.footer {
    background-color: #278ab0;
    color: #ffd;
    padding: 1.5rem;
    clip-path: polygon(0 5%, 48% 5%, 50% 0, 52% 5%, 100% 5%, 100% 100%, 0 100%);
    overflow: visible;
    margin-top: 5rem;
}

.footer>div:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 80%;
    margin: 1.5rem auto;
}

.footer div:nth-child(1) div a {
    color: green;
    display: block;
    color: #eee;
}

.footer>div:first-child div>p:first-child {
    font-size: 1.1rem;
    font-weight: 600;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 2rem;
}

.copyright a {
    color: #ffd;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #264463;
}

.copyright a:hover {
    color: #264463;
}

.copyright svg {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 1s;
}

.copyright svg:hover {
    transform: rotate(360deg);
}