.singleblog {
    background-color: #fff;
    padding: 1rem;
    width: 60%;
    margin: 1rem auto;
    box-shadow: 0 0 4px #ccc;
}

.singleblog h1 {
    text-transform: capitalize;
    font-size: var(--h1-size);
    text-align: center;
}

.singleblog div {
    text-align: right;
}

.singleblog .imgs {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    justify-items: center;
    gap: 1rem;
}

.singleblog .imgs img {
    border-radius: 1rem;
    box-shadow: 0 0 5px #ddd;
    width: 100%;
    transition: transform 0.3s;
}

.singleblog .imgs img:hover {
    transform: scale(1.1);
}

.singleblog div span {
    color: #cbb;
}

.singleblog svg {
    width: 20px;
    vertical-align: bottom;
    margin: 0 5px;
}

.singleblog p {
    text-indent: 20px;
    white-space: pre-line;
}


/* Medium devices */

@media only screen and (max-width: 768px) {
    .singleblog {
        width: 90%;
    }
}