.blog {
    width: 80%;
    margin: 0 auto;
}

.blog h1 {
    text-align: center;
    color: var(--dark);
}

.blog>p {
    color: rgb(105, 105, 105);
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.blog form {
    margin: 1rem 0;
}

form select {
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    appearance: none;
    background: linear-gradient( #fff , #e5e5e5);
    border-radius: 8px 8px 0 0;
    outline: none;
    color: var(--dark);
}

select option {
    color: var(--dark);
    border: none;
}
