.blogs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.blogs h1 {
    text-align: center;
    color: var(--dark);
    margin-top: 2rem;
    font-size: var(--h1-size);
}

.blogs>p {
    color: rgb(105, 105, 105);
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.blogs form {
    margin: 1rem 0;
}

form select {
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    appearance: none;
    background:  #fff;

    border-radius: 8px 8px 0 0;
    outline: none;
    color: var(--dark);
}

select option {
    color: var(--dark);
    border: none;
} 