@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root {
  --light: #f9f9f9;
  --dark: #3C85B5;
  --h1-size: 1.7rem;
  --h2-size: 1.30rem;
  --h3-size: 1.1rem;
  --h4-size: 0.8rem;
}

* {
  font-family: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgb(13, 21, 49);
}

*::selection {
  color: crimson;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: #444;
}

h1, h2 {
  text-transform: capitalize;
  color: var(--dark);
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
}

h3 {
  font-size: var(--h3-size);
}

p {
  line-height: 1.5rem;
}

.shop button {
  font-family: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}