@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  overflow-x: hidden;
  --dark: #0c2f5f;
}

*::selection {
  color: crimson;
}

a {
  text-decoration: none;
  color: #444;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--dark);
}

h3 {
  color: #1653aa;
}

p {
  line-height: 1.5rem;
}


.shop button{
  font-family: Karla, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}