.faq {
    width: 80%;
    margin: 0 auto;
}

.faq h1 {
    text-align: center;
    color: var(--dark);
}

.faq>p {
    color: rgb(105, 105, 105);
    text-align: center;
    width: 80%;
    margin: 2rem auto;
}

.faq .wrap {
    box-shadow: 0 0 8px #ddd;
    border-radius: 1rem;
    overflow: hidden;
}

.faq .container {
    background-color: #fff;
    border-bottom: 1px dashed #ccc;
}

.container .question p {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.faq .container p {
    padding: 2rem;
    color: #0d1531 !important;
}

.container .question {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.container .answer {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    /* background-color: #21213c; */
    background-color: rgb(204, 255, 252);
    overflow: hidden;
}

.faq .show {
    max-height: 500px !important;
}

.faq .more {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 100%));
    gap: 2rem;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 8px #ddd;
}

.more img {
    width: 100%;
}

.faq .more button {
    background-color: rgba(12, 47, 95, 0.7);
    border: 1px solid var(--dark);
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.faq .more button::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 200%;
    top: -100%;
    left: -115%;
    transition: 0.4s;
    background-color: rgba(12, 47, 95, 0.9);
    z-index: -1;
    transform: rotate(18deg);
}

.faq .more button:hover:before {
    top: -45%;
    left: -6%;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .faq {
        width: 90%;
    }
    .container .question {
        font-size: 1rem;
    }
    .faq .container p {
        padding: 1rem;
    }
    .faq .more {
        gap: 10px;
    }
}

@media only screen and (max-width: 660px) {
    .faq .more {
        grid-template-columns: repeat(1, minmax(0px, 100%));
    }
    .more img {
        width: 70%;
        margin: 0 auto;
    }
    
}